<h1>Login</h1>
<br>
<div>
  <div class="form-group has-feedback">
    <input type="email" class="form-control" placeholder="Email" name="username" [(ngModel)]="login.username" required="">
  </div>
  <div class="form-group has-feedback">
    <input class="form-control" placeholder="Password" name="password" type="password" placeholder="Password" [(ngModel)]="login.password" required="">
  </div>
  <div class="row">
    <div class="col">
      <div class = "error"> {{ message }} </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" (click)="loginservice()">Sign In</button>
</div>
<br>
<h5>Dont have an account? <a routerLink="signup">Sign Up</a></h5>